@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(90deg, rgba(16,44,47,1) 0%, rgba(13,21,32,1) 50%, rgba(47,20,38,1) 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(90deg, rgba(16,44,47,1) 0%, rgba(13,21,32,1) 50%, rgba(47,20,38,1) 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-anton), Arial, Helvetica, sans-serif;
}
.theme {
  --background: linear-gradient(90deg, rgba(16,44,47,1) 0%, rgba(13,21,32,1) 50%, rgba(47,20,38,1) 100%);
  --buttonBlueDefault: #56FFF0;
  --buttonBlueHover: #8afff4;
  --buttonBluePressed: #00BDAC;
  --buttonPinkDefault: #ff7cb1;
  --buttonPinkHover: #ffadce;
  --buttonPinkPressed: #ff4791;
  --surfaceCard: linear-gradient(90deg, #1a454a 0%, #368088 100%);
}

.blueCard {
 --background: linear-gradient(90deg, #1a454a 0%, #368088 100%);
}

.pinkCard {
  --background: linear-gradient(90deg, #700c63 0%, #b413e6 100%);
 }